<section class="category-grid">
  {{#each categories as |category|}}
    <a href="{{category.url}}" class="category-card-link">
      <div class="category-card">

        {{!-- LEFT IMAGE --}}
        <div class="category-card-image">
          {{#if category.uploaded_logo}}
            <img
              src="{{category.uploaded_logo.url}}"
              alt="{{category.name}}"
              loading="lazy"
            />
          {{/if}}
        </div>

        {{!-- RIGHT CONTENT --}}
        <div class="category-card-content">
          <h3 class="category-card-title">
            {{category.name}}
          </h3>

          {{#if category.description_excerpt}}
            <p class="category-card-description">
              {{category.description_excerpt}}
            </p>
          {{/if}}
        </div>

      </div>
    </a>
  {{/each}}
</section>

